<ion-app>
  <ion-content [scrollEvents]="true" class="ion-justify-content-center">
    <div slot="fixed" class="main-content">
      <!-- <h1 position="top">Fecha</h1> -->
      <ion-datetime position="top" presentation="month-year" color="chuli"
        >.</ion-datetime
      >
      <ion-list position="bottom" id="moneditas-list">
        <ion-list-header>Moneditas</ion-list-header>
        <ion-item *ngFor="let moneda of monedas" lines="none">
          <ion-icon name="bug-outline" slot="start" color="chuli">.</ion-icon>
          <ion-label class="moneda-tipo">{{ moneda.tipo }}</ion-label>
          <!-- <ion-label class="moneda-cantidad">{{ moneda.cantidad }}</ion-label> -->
          <ion-input
            type="number"
            value="{{ moneda.cantidad }}"
            class="moneda-cantidad"
            (ionChange)="onCantidadChanged($event, moneda.tipo)"
          ></ion-input>

          <ion-button
            shape="round"
            size="small"
            color="chuli"
            (click)="onAddMonedita($event, moneda.tipo)"
            >+</ion-button
          >
          <ion-button
            shape="round"
            size="small"
            color="chuli"
            (click)="onSubtractMonedita($event, moneda.tipo)"
            >-</ion-button
          >
        </ion-item>
        <ion-item>
          <ion-label>Total</ion-label>
          <ion-label color="chuli">{{
            total | currency: "EUR":"symbol-narrow":"1.2-2"
          }}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-app>
